.onecoininfo {
  color: #f8f8f8;
  background-color: rgb(228, 57, 94);;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: 0;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}